<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yaolizh.oa.carinsurehistory.dao.CarInsureHistoryDao">

	<select id="get" resultType="com.yaolizh.oa.carinsurehistory.domain.CarInsureHistoryDO">
		select `id`,`serial_num`,`use_serial_num`,`car_num`,`car_type`,`car_num_color`,`company`,`insure_date`,`amount`,`begin_date`,`end_date`,`phone` from t_car_insure_history where id = #{value}
	</select>

	<select id="list" resultType="com.yaolizh.oa.carinsurehistory.domain.CarInsureHistoryDO">
		select `id`,`serial_num`,`use_serial_num`,`car_num`,`car_type`,`car_num_color`,`company`,`insure_date`,`amount`,`begin_date`,`end_date`,`phone` from t_car_insure_history
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="serialNum != null and serialNum != ''"> and serial_num = #{serialNum} </if>
		  		  <if test="useSerialNum != null and useSerialNum != ''"> and use_serial_num = #{useSerialNum} </if>
		  		  <if test="carNum != null and carNum != ''"> and car_num = #{carNum} </if>
		  		  <if test="carType != null and carType != ''"> and car_type = #{carType} </if>
		  		  <if test="carNumColor != null and carNumColor != ''"> and car_num_color = #{carNumColor} </if>
		  		  <if test="company != null and company != ''"> and company = #{company} </if>
		  		  <if test="insureDate != null and insureDate != ''"> and insure_date = #{insureDate} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="beginDate != null and beginDate != ''"> and begin_date = #{beginDate} </if>
		  		  <if test="endDate != null and endDate != ''"> and end_date = #{endDate} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_car_insure_history
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="serialNum != null and serialNum != ''"> and serial_num = #{serialNum} </if>
		  		  <if test="useSerialNum != null and useSerialNum != ''"> and use_serial_num = #{useSerialNum} </if>
		  		  <if test="carNum != null and carNum != ''"> and car_num = #{carNum} </if>
		  		  <if test="carType != null and carType != ''"> and car_type = #{carType} </if>
		  		  <if test="carNumColor != null and carNumColor != ''"> and car_num_color = #{carNumColor} </if>
		  		  <if test="company != null and company != ''"> and company = #{company} </if>
		  		  <if test="insureDate != null and insureDate != ''"> and insure_date = #{insureDate} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="beginDate != null and beginDate != ''"> and begin_date = #{beginDate} </if>
		  		  <if test="endDate != null and endDate != ''"> and end_date = #{endDate} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yaolizh.oa.carinsurehistory.domain.CarInsureHistoryDO">
		insert into t_car_insure_history
		(
			`id`, 
			`serial_num`, 
			`use_serial_num`, 
			`car_num`, 
			`car_type`, 
			`car_num_color`, 
			`company`, 
			`insure_date`, 
			`amount`, 
			`begin_date`, 
			`end_date`, 
			`phone`
		)
		values
		(
			#{id}, 
			#{serialNum}, 
			#{useSerialNum}, 
			#{carNum}, 
			#{carType}, 
			#{carNumColor}, 
			#{company}, 
			#{insureDate}, 
			#{amount}, 
			#{beginDate}, 
			#{endDate}, 
			#{phone}
		)
	</insert>
	 
	<update id="update" parameterType="com.yaolizh.oa.carinsurehistory.domain.CarInsureHistoryDO">
		update t_car_insure_history 
		<set>
			<if test="serialNum != null">`serial_num` = #{serialNum}, </if>
			<if test="useSerialNum != null">`use_serial_num` = #{useSerialNum}, </if>
			<if test="carNum != null">`car_num` = #{carNum}, </if>
			<if test="carType != null">`car_type` = #{carType}, </if>
			<if test="carNumColor != null">`car_num_color` = #{carNumColor}, </if>
			<if test="company != null">`company` = #{company}, </if>
			<if test="insureDate != null">`insure_date` = #{insureDate}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="beginDate != null">`begin_date` = #{beginDate}, </if>
			<if test="endDate != null">`end_date` = #{endDate}, </if>
			<if test="phone != null">`phone` = #{phone}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_car_insure_history where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_car_insure_history where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>