<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yaolizh.oa.fixedresourceusehistory.dao.FixedResourceUseHistoryDao">

	<select id="get" resultType="com.yaolizh.oa.fixedresourceusehistory.domain.FixedResourceUseHistoryDO">
		select `id`,`serial_num`,`code`,`name`,`has_return`,`use_person`,`begin_use_time`,`end_use_time` from t_fixed_resource_use_history where id = #{value}
	</select>

	<select id="list" resultType="com.yaolizh.oa.fixedresourceusehistory.domain.FixedResourceUseHistoryDO">
		select `id`,`serial_num`,`code`,`name`,`has_return`,`use_person`,`begin_use_time`,`end_use_time` from t_fixed_resource_use_history
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="serialNum != null and serialNum != ''"> and serial_num = #{serialNum} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="hasReturn != null and hasReturn != ''"> and has_return = #{hasReturn} </if>
		  		  <if test="usePerson != null and usePerson != ''"> and use_person = #{usePerson} </if>
		  		  <if test="beginUseTime != null and beginUseTime != ''"> and begin_use_time = #{beginUseTime} </if>
		  		  <if test="endUseTime != null and endUseTime != ''"> and end_use_time = #{endUseTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_fixed_resource_use_history
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="serialNum != null and serialNum != ''"> and serial_num = #{serialNum} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="hasReturn != null and hasReturn != ''"> and has_return = #{hasReturn} </if>
		  		  <if test="usePerson != null and usePerson != ''"> and use_person = #{usePerson} </if>
		  		  <if test="beginUseTime != null and beginUseTime != ''"> and begin_use_time = #{beginUseTime} </if>
		  		  <if test="endUseTime != null and endUseTime != ''"> and end_use_time = #{endUseTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yaolizh.oa.fixedresourceusehistory.domain.FixedResourceUseHistoryDO">
		insert into t_fixed_resource_use_history
		(
			`id`, 
			`serial_num`, 
			`code`, 
			`name`, 
			`has_return`, 
			`use_person`, 
			`begin_use_time`, 
			`end_use_time`
		)
		values
		(
			#{id}, 
			#{serialNum}, 
			#{code}, 
			#{name}, 
			#{hasReturn}, 
			#{usePerson}, 
			#{beginUseTime}, 
			#{endUseTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.yaolizh.oa.fixedresourceusehistory.domain.FixedResourceUseHistoryDO">
		update t_fixed_resource_use_history 
		<set>
			<if test="serialNum != null">`serial_num` = #{serialNum}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="hasReturn != null">`has_return` = #{hasReturn}, </if>
			<if test="usePerson != null">`use_person` = #{usePerson}, </if>
			<if test="beginUseTime != null">`begin_use_time` = #{beginUseTime}, </if>
			<if test="endUseTime != null">`end_use_time` = #{endUseTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_fixed_resource_use_history where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_fixed_resource_use_history where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>