<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yaolizh.oa.projectborrow.dao.ProjectBorrowDao">

	<select id="get" resultType="com.yaolizh.oa.projectborrow.domain.ProjectBorrowDO">
		select `id`,`project_id`,`project_name`,`user_id`,`user_name`,`borrow_time`,`amount`,`reason`,`process_instance_id`,`state`,`cur_node_name`,`cur_check_name`,`cur_check_comment`,`choose_code`,`choose_text` from t_project_borrow where id = #{value}
	</select>

	<select id="list" resultType="com.yaolizh.oa.projectborrow.domain.ProjectBorrowDO">
		select `id`,`project_id`,`project_name`,`user_id`,`user_name`,`borrow_time`,`amount`,`reason`,`process_instance_id`,`state`,`cur_node_name`,`cur_check_name`,`cur_check_comment`,`choose_code`,`choose_text` from t_project_borrow
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="projectId != null and projectId != ''"> and project_id = #{projectId} </if>
		  		  <if test="projectName != null and projectName != ''"> and project_name = #{projectName} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="borrowTime != null and borrowTime != ''"> and borrow_time = #{borrowTime} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="reason != null and reason != ''"> and reason = #{reason} </if>
		  		  <if test="processInstanceId != null and processInstanceId != ''"> and process_instance_id = #{processInstanceId} </if>
		  		  <if test="state != null and state != ''"> and state = #{state} </if>
		  		  <if test="curNodeName != null and curNodeName != ''"> and cur_node_name = #{curNodeName} </if>
		  		  <if test="curCheckName != null and curCheckName != ''"> and cur_check_name = #{curCheckName} </if>
		  		  <if test="curCheckComment != null and curCheckComment != ''"> and cur_check_comment = #{curCheckComment} </if>
		  		  <if test="chooseCode != null and chooseCode != ''"> and choose_code = #{chooseCode} </if>
		  		  <if test="chooseText != null and chooseText != ''"> and choose_text = #{chooseText} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_project_borrow
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="projectId != null and projectId != ''"> and project_id = #{projectId} </if>
		  		  <if test="projectName != null and projectName != ''"> and project_name = #{projectName} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="borrowTime != null and borrowTime != ''"> and borrow_time = #{borrowTime} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="reason != null and reason != ''"> and reason = #{reason} </if>
		  		  <if test="processInstanceId != null and processInstanceId != ''"> and process_instance_id = #{processInstanceId} </if>
		  		  <if test="state != null and state != ''"> and state = #{state} </if>
		  		  <if test="curNodeName != null and curNodeName != ''"> and cur_node_name = #{curNodeName} </if>
		  		  <if test="curCheckName != null and curCheckName != ''"> and cur_check_name = #{curCheckName} </if>
		  		  <if test="curCheckComment != null and curCheckComment != ''"> and cur_check_comment = #{curCheckComment} </if>
		  		  <if test="chooseCode != null and chooseCode != ''"> and choose_code = #{chooseCode} </if>
		  		  <if test="chooseText != null and chooseText != ''"> and choose_text = #{chooseText} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yaolizh.oa.projectborrow.domain.ProjectBorrowDO">
		insert into t_project_borrow
		(
			`id`, 
			`project_id`, 
			`project_name`, 
			`user_id`, 
			`user_name`, 
			`borrow_time`, 
			`amount`, 
			`reason`, 
			`process_instance_id`, 
			`state`, 
			`cur_node_name`, 
			`cur_check_name`, 
			`cur_check_comment`, 
			`choose_code`, 
			`choose_text`
		)
		values
		(
			#{id}, 
			#{projectId}, 
			#{projectName}, 
			#{userId}, 
			#{userName}, 
			#{borrowTime}, 
			#{amount}, 
			#{reason}, 
			#{processInstanceId}, 
			#{state}, 
			#{curNodeName}, 
			#{curCheckName}, 
			#{curCheckComment}, 
			#{chooseCode}, 
			#{chooseText}
		)
	</insert>
	 
	<update id="update" parameterType="com.yaolizh.oa.projectborrow.domain.ProjectBorrowDO">
		update t_project_borrow 
		<set>
			<if test="projectId != null">`project_id` = #{projectId}, </if>
			<if test="projectName != null">`project_name` = #{projectName}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="borrowTime != null">`borrow_time` = #{borrowTime}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="reason != null">`reason` = #{reason}, </if>
			<if test="processInstanceId != null">`process_instance_id` = #{processInstanceId}, </if>
			<if test="state != null">`state` = #{state}, </if>
			<if test="curNodeName != null">`cur_node_name` = #{curNodeName}, </if>
			<if test="curCheckName != null">`cur_check_name` = #{curCheckName}, </if>
			<if test="curCheckComment != null">`cur_check_comment` = #{curCheckComment}, </if>
			<if test="chooseCode != null">`choose_code` = #{chooseCode}, </if>
			<if test="chooseText != null">`choose_text` = #{chooseText}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_project_borrow where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_project_borrow where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>