<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yaolizh.oa.projectinoutmoney.dao.ProjectInOutMoneyDao">

	<select id="get" resultType="com.yaolizh.oa.projectinoutmoney.domain.ProjectInOutMoneyDO">
		select `id`,`type`,`project_id`,`project_name`,`contract_id`,`contract_name`,`client_name`,`subject_item`,`descript`,`begin_amount`,`in_out`,`happen_time`,`in_amount`,`out_amount`,`end_amount`,`create_deptcode`,`create_deptid`,`create_deptname`,`create_orgcode`,`create_orgid`,`create_orgname`,`create_time`,`creator`,`creator_name`,`creatorby`,`isdelete`,`last_time`,`order_num`,`remark`,`updator`,`updator_name`,`pay_amount` from t_project_in_out_money where id = #{value}
	</select>

	<select id="list" resultType="com.yaolizh.oa.projectinoutmoney.domain.ProjectInOutMoneyDO">
		select `id`,`type`,`project_id`,`project_name`,`contract_id`,`contract_name`,`client_name`,`subject_item`,`descript`,`begin_amount`,`in_out`,`happen_time`,`in_amount`,`out_amount`,`end_amount`,`create_deptcode`,`create_deptid`,`create_deptname`,`create_orgcode`,`create_orgid`,`create_orgname`,`create_time`,`creator`,`creator_name`,`creatorby`,`isdelete`,`last_time`,`order_num`,`remark`,`updator`,`updator_name`,`pay_amount` from t_project_in_out_money
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="projectId != null and projectId != ''"> and project_id = #{projectId} </if>
		  		  <if test="projectName != null and projectName != ''"> and project_name = #{projectName} </if>
		  		  <if test="contractId != null and contractId != ''"> and contract_id = #{contractId} </if>
		  		  <if test="contractName != null and contractName != ''"> and contract_name = #{contractName} </if>
		  		  <if test="clientName != null and clientName != ''"> and client_name = #{clientName} </if>
		  		  <if test="subjectItem != null and subjectItem != ''"> and subject_item = #{subjectItem} </if>
		  		  <if test="descript != null and descript != ''"> and descript = #{descript} </if>
		  		  <if test="beginAmount != null and beginAmount != ''"> and begin_amount = #{beginAmount} </if>
		  		  <if test="inOut != null and inOut != ''"> and in_out = #{inOut} </if>
		  		  <if test="happenTime != null and happenTime != ''"> and happen_time = #{happenTime} </if>
		  		  <if test="inAmount != null and inAmount != ''"> and in_amount = #{inAmount} </if>
		  		  <if test="outAmount != null and outAmount != ''"> and out_amount = #{outAmount} </if>
		  		  <if test="endAmount != null and endAmount != ''"> and end_amount = #{endAmount} </if>
		  		  <if test="createDeptcode != null and createDeptcode != ''"> and create_deptcode = #{createDeptcode} </if>
		  		  <if test="createDeptid != null and createDeptid != ''"> and create_deptid = #{createDeptid} </if>
		  		  <if test="createDeptname != null and createDeptname != ''"> and create_deptname = #{createDeptname} </if>
		  		  <if test="createOrgcode != null and createOrgcode != ''"> and create_orgcode = #{createOrgcode} </if>
		  		  <if test="createOrgid != null and createOrgid != ''"> and create_orgid = #{createOrgid} </if>
		  		  <if test="createOrgname != null and createOrgname != ''"> and create_orgname = #{createOrgname} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="creator != null and creator != ''"> and creator = #{creator} </if>
		  		  <if test="creatorName != null and creatorName != ''"> and creator_name = #{creatorName} </if>
		  		  <if test="creatorby != null and creatorby != ''"> and creatorby = #{creatorby} </if>
		  		  <if test="isdelete != null and isdelete != ''"> and isdelete = #{isdelete} </if>
		  		  <if test="lastTime != null and lastTime != ''"> and last_time = #{lastTime} </if>
		  		  <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="updator != null and updator != ''"> and updator = #{updator} </if>
		  		  <if test="updatorName != null and updatorName != ''"> and updator_name = #{updatorName} </if>
		  		  <if test="payAmount != null and payAmount != ''"> and pay_amount = #{payAmount} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_project_in_out_money
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="projectId != null and projectId != ''"> and project_id = #{projectId} </if>
		  		  <if test="projectName != null and projectName != ''"> and project_name = #{projectName} </if>
		  		  <if test="contractId != null and contractId != ''"> and contract_id = #{contractId} </if>
		  		  <if test="contractName != null and contractName != ''"> and contract_name = #{contractName} </if>
		  		  <if test="clientName != null and clientName != ''"> and client_name = #{clientName} </if>
		  		  <if test="subjectItem != null and subjectItem != ''"> and subject_item = #{subjectItem} </if>
		  		  <if test="descript != null and descript != ''"> and descript = #{descript} </if>
		  		  <if test="beginAmount != null and beginAmount != ''"> and begin_amount = #{beginAmount} </if>
		  		  <if test="inOut != null and inOut != ''"> and in_out = #{inOut} </if>
		  		  <if test="happenTime != null and happenTime != ''"> and happen_time = #{happenTime} </if>
		  		  <if test="inAmount != null and inAmount != ''"> and in_amount = #{inAmount} </if>
		  		  <if test="outAmount != null and outAmount != ''"> and out_amount = #{outAmount} </if>
		  		  <if test="endAmount != null and endAmount != ''"> and end_amount = #{endAmount} </if>
		  		  <if test="createDeptcode != null and createDeptcode != ''"> and create_deptcode = #{createDeptcode} </if>
		  		  <if test="createDeptid != null and createDeptid != ''"> and create_deptid = #{createDeptid} </if>
		  		  <if test="createDeptname != null and createDeptname != ''"> and create_deptname = #{createDeptname} </if>
		  		  <if test="createOrgcode != null and createOrgcode != ''"> and create_orgcode = #{createOrgcode} </if>
		  		  <if test="createOrgid != null and createOrgid != ''"> and create_orgid = #{createOrgid} </if>
		  		  <if test="createOrgname != null and createOrgname != ''"> and create_orgname = #{createOrgname} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="creator != null and creator != ''"> and creator = #{creator} </if>
		  		  <if test="creatorName != null and creatorName != ''"> and creator_name = #{creatorName} </if>
		  		  <if test="creatorby != null and creatorby != ''"> and creatorby = #{creatorby} </if>
		  		  <if test="isdelete != null and isdelete != ''"> and isdelete = #{isdelete} </if>
		  		  <if test="lastTime != null and lastTime != ''"> and last_time = #{lastTime} </if>
		  		  <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="updator != null and updator != ''"> and updator = #{updator} </if>
		  		  <if test="updatorName != null and updatorName != ''"> and updator_name = #{updatorName} </if>
		  		  <if test="payAmount != null and payAmount != ''"> and pay_amount = #{payAmount} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yaolizh.oa.projectinoutmoney.domain.ProjectInOutMoneyDO">
		insert into t_project_in_out_money
		(
			`id`, 
			`type`, 
			`project_id`, 
			`project_name`, 
			`contract_id`, 
			`contract_name`, 
			`client_name`, 
			`subject_item`, 
			`descript`, 
			`begin_amount`, 
			`in_out`, 
			`happen_time`, 
			`in_amount`, 
			`out_amount`, 
			`end_amount`, 
			`create_deptcode`, 
			`create_deptid`, 
			`create_deptname`, 
			`create_orgcode`, 
			`create_orgid`, 
			`create_orgname`, 
			`create_time`, 
			`creator`, 
			`creator_name`, 
			`creatorby`, 
			`isdelete`, 
			`last_time`, 
			`order_num`, 
			`remark`, 
			`updator`, 
			`updator_name`, 
			`pay_amount`
		)
		values
		(
			#{id}, 
			#{type}, 
			#{projectId}, 
			#{projectName}, 
			#{contractId}, 
			#{contractName}, 
			#{clientName}, 
			#{subjectItem}, 
			#{descript}, 
			#{beginAmount}, 
			#{inOut}, 
			#{happenTime}, 
			#{inAmount}, 
			#{outAmount}, 
			#{endAmount}, 
			#{createDeptcode}, 
			#{createDeptid}, 
			#{createDeptname}, 
			#{createOrgcode}, 
			#{createOrgid}, 
			#{createOrgname}, 
			#{createTime}, 
			#{creator}, 
			#{creatorName}, 
			#{creatorby}, 
			#{isdelete}, 
			#{lastTime}, 
			#{orderNum}, 
			#{remark}, 
			#{updator}, 
			#{updatorName}, 
			#{payAmount}
		)
	</insert>
	 
	<update id="update" parameterType="com.yaolizh.oa.projectinoutmoney.domain.ProjectInOutMoneyDO">
		update t_project_in_out_money 
		<set>
			<if test="type != null">`type` = #{type}, </if>
			<if test="projectId != null">`project_id` = #{projectId}, </if>
			<if test="projectName != null">`project_name` = #{projectName}, </if>
			<if test="contractId != null">`contract_id` = #{contractId}, </if>
			<if test="contractName != null">`contract_name` = #{contractName}, </if>
			<if test="clientName != null">`client_name` = #{clientName}, </if>
			<if test="subjectItem != null">`subject_item` = #{subjectItem}, </if>
			<if test="descript != null">`descript` = #{descript}, </if>
			<if test="beginAmount != null">`begin_amount` = #{beginAmount}, </if>
			<if test="inOut != null">`in_out` = #{inOut}, </if>
			<if test="happenTime != null">`happen_time` = #{happenTime}, </if>
			<if test="inAmount != null">`in_amount` = #{inAmount}, </if>
			<if test="outAmount != null">`out_amount` = #{outAmount}, </if>
			<if test="endAmount != null">`end_amount` = #{endAmount}, </if>
			<if test="createDeptcode != null">`create_deptcode` = #{createDeptcode}, </if>
			<if test="createDeptid != null">`create_deptid` = #{createDeptid}, </if>
			<if test="createDeptname != null">`create_deptname` = #{createDeptname}, </if>
			<if test="createOrgcode != null">`create_orgcode` = #{createOrgcode}, </if>
			<if test="createOrgid != null">`create_orgid` = #{createOrgid}, </if>
			<if test="createOrgname != null">`create_orgname` = #{createOrgname}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="creator != null">`creator` = #{creator}, </if>
			<if test="creatorName != null">`creator_name` = #{creatorName}, </if>
			<if test="creatorby != null">`creatorby` = #{creatorby}, </if>
			<if test="isdelete != null">`isdelete` = #{isdelete}, </if>
			<if test="lastTime != null">`last_time` = #{lastTime}, </if>
			<if test="orderNum != null">`order_num` = #{orderNum}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="updator != null">`updator` = #{updator}, </if>
			<if test="updatorName != null">`updator_name` = #{updatorName}, </if>
			<if test="payAmount != null">`pay_amount` = #{payAmount}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_project_in_out_money where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_project_in_out_money where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>