<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${carRepairHistory.id}"  type="hidden">
																																															 		<div class="form-group">	
										<label class="col-sm-3 control-label">维修/保养(1:维修,2:保养)：</label>
										<div class="col-sm-8">
											<input id="type" name="type" th:value="${carRepairHistory.type}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">维修序号：</label>
										<div class="col-sm-8">
											<input id="serialNum" name="serialNum" th:value="${carRepairHistory.serialNum}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">用车序号：</label>
										<div class="col-sm-8">
											<input id="useSerialNum" name="useSerialNum" th:value="${carRepairHistory.useSerialNum}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">车牌号码：</label>
										<div class="col-sm-8">
											<input id="carNum" name="carNum" th:value="${carRepairHistory.carNum}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">变速箱类别（1:手动挡、2：自动档，4：手自一体）：</label>
										<div class="col-sm-8">
											<input id="carType" name="carType" th:value="${carRepairHistory.carType}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">车身颜色：</label>
										<div class="col-sm-8">
											<input id="carNumColor" name="carNumColor" th:value="${carRepairHistory.carNumColor}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">状态(1:待维修,2:维修中,4:维修完成,8:报废)：</label>
										<div class="col-sm-8">
											<input id="state" name="state" th:value="${carRepairHistory.state}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">维修原因：</label>
										<div class="col-sm-8">
											<input id="reason" name="reason" th:value="${carRepairHistory.reason}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">维修厂家：</label>
										<div class="col-sm-8">
											<input id="repairShop" name="repairShop" th:value="${carRepairHistory.repairShop}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">维修地址：</label>
										<div class="col-sm-8">
											<input id="repairAddr" name="repairAddr" th:value="${carRepairHistory.repairAddr}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">维修金额：</label>
										<div class="col-sm-8">
											<input id="repairAmount" name="repairAmount" th:value="${carRepairHistory.repairAmount}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">保险报销金额：</label>
										<div class="col-sm-8">
											<input id="insuranceAmount" name="insuranceAmount" th:value="${carRepairHistory.insuranceAmount}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">申请维修人：</label>
										<div class="col-sm-8">
											<input id="applyPerson" name="applyPerson" th:value="${carRepairHistory.applyPerson}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">申请维修时间：</label>
										<div class="col-sm-8">
											<input id="applyTime" name="applyTime" th:value="${carRepairHistory.applyTime}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">维修时间：</label>
										<div class="col-sm-8">
											<input id="repairTime" name="repairTime" th:value="${carRepairHistory.repairTime}" class="form-control" type="text">
										</div>
									</div>
																	
																						<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/oa/carRepairHistory/edit.js">
	</script>
</body>
</html>
