<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																						
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">交易类型(1：现金记账,2:银行记账,4:工会工行记账,8:工会贵州银行记账)：</label>
										<div class="col-sm-8">
											<input id="type" name="type" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">项目id：</label>
										<div class="col-sm-8">
											<input id="projectId" name="projectId" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">项目名称：</label>
										<div class="col-sm-8">
											<input id="projectName" name="projectName" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">合同id：</label>
										<div class="col-sm-8">
											<input id="contractId" name="contractId" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">合同名称：</label>
										<div class="col-sm-8">
											<input id="contractName" name="contractName" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">对方名称：</label>
										<div class="col-sm-8">
											<input id="clientName" name="clientName" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">明细科目：</label>
										<div class="col-sm-8">
											<input id="subjectItem" name="subjectItem" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">描述：</label>
										<div class="col-sm-8">
											<input id="descript" name="descript" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">初期金额：</label>
										<div class="col-sm-8">
											<input id="beginAmount" name="beginAmount" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">收支类型(1:收入,2:支出)：</label>
										<div class="col-sm-8">
											<input id="inOut" name="inOut" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">交易时间：</label>
										<div class="col-sm-8">
											<input id="happenTime" name="happenTime" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">收入金额：</label>
										<div class="col-sm-8">
											<input id="inAmount" name="inAmount" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">支出金额：</label>
										<div class="col-sm-8">
											<input id="outAmount" name="outAmount" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">结存金额：</label>
										<div class="col-sm-8">
											<input id="endAmount" name="endAmount" class="form-control" type="text">
										</div>
									</div> 
																
																															
																								
																															
																								
																															
																								
																															
																								
																															
																								
																															
																								
																															
																								
																															
																								
																															
																								
																															
																								
																															
																								
																															
																								
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">：</label>
										<div class="col-sm-8">
											<input id="orderNum" name="orderNum" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">：</label>
										<div class="col-sm-8">
											<input id="remark" name="remark" class="form-control" type="text">
										</div>
									</div> 
																
																															
																								
																															
																								
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">：</label>
										<div class="col-sm-8">
											<input id="payAmount" name="payAmount" class="form-control" type="text">
										</div>
									</div> 
																
																						<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/oa/projectInOutMoney/add.js">
	</script>
</body>
</html>
