<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${learnResource.id}"  type="hidden">
																																															 		<div class="form-group">	
										<label class="col-sm-3 control-label">标题：</label>
										<div class="col-sm-8">
											<input id="title" name="title" th:value="${learnResource.title}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">状态(1:新增,2:发布,4:撤销)：</label>
										<div class="col-sm-8">
											<input id="state" name="state" th:value="${learnResource.state}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">使用人：</label>
										<div class="col-sm-8">
											<input id="usePerson" name="usePerson" th:value="${learnResource.usePerson}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">开始使用时间：</label>
										<div class="col-sm-8">
											<input id="beginTime" name="beginTime" th:value="${learnResource.beginTime}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">结束使用时间：</label>
										<div class="col-sm-8">
											<input id="endTime" name="endTime" th:value="${learnResource.endTime}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">描述：</label>
										<div class="col-sm-8">
											<input id="descript" name="descript" th:value="${learnResource.descript}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">外部连接：</label>
										<div class="col-sm-8">
											<input id="uri" name="uri" th:value="${learnResource.uri}" class="form-control" type="text">
										</div>
									</div>
																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">：</label>
										<div class="col-sm-8">
											<input id="orderNum" name="orderNum" th:value="${learnResource.orderNum}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">：</label>
										<div class="col-sm-8">
											<input id="remark" name="remark" th:value="${learnResource.remark}" class="form-control" type="text">
										</div>
									</div>
																	
																																																	
																																																	
																						<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/oa/learnResource/addOrUpdate.js">
	</script>
</body>
</html>
