<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																						
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">用户id：</label>
										<div class="col-sm-8">
											<input id="userId" name="userId" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">员工编号：</label>
										<div class="col-sm-8">
											<input id="no" name="no" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">名字：</label>
										<div class="col-sm-8">
											<input id="name" name="name" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">身份证：</label>
										<div class="col-sm-8">
											<input id="idCard" name="idCard" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">部门id：</label>
										<div class="col-sm-8">
											<input id="deptId" name="deptId" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">部门：</label>
										<div class="col-sm-8">
											<input id="deptName" name="deptName" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">年假天数：</label>
										<div class="col-sm-8">
											<input id="yearRestNum" name="yearRestNum" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">已休息年假天数：</label>
										<div class="col-sm-8">
											<input id="hasRestYearRestNum" name="hasRestYearRestNum" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">工资卡：</label>
										<div class="col-sm-8">
											<input id="wageCard" name="wageCard" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">福利卡：</label>
										<div class="col-sm-8">
											<input id="freecaCard" name="freecaCard" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">职务：</label>
										<div class="col-sm-8">
											<input id="post" name="post" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">员工状态(1在职，2:离职)：</label>
										<div class="col-sm-8">
											<input id="state" name="state" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">电话：</label>
										<div class="col-sm-8">
											<input id="phone" name="phone" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">入职日期：</label>
										<div class="col-sm-8">
											<input id="inDate" name="inDate" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">转正日期：</label>
										<div class="col-sm-8">
											<input id="formalDate" name="formalDate" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">工作时间：</label>
										<div class="col-sm-8">
											<input id="workDate" name="workDate" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">qq：</label>
										<div class="col-sm-8">
											<input id="qq" name="qq" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">性别：</label>
										<div class="col-sm-8">
											<input id="sex" name="sex" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">生日：</label>
										<div class="col-sm-8">
											<input id="birthdayDay" name="birthdayDay" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">是否结婚：</label>
										<div class="col-sm-8">
											<input id="hasMarry" name="hasMarry" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">政治面貌：</label>
										<div class="col-sm-8">
											<input id="policeFace" name="policeFace" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">户口性质：</label>
										<div class="col-sm-8">
											<input id="houseType" name="houseType" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">学校：</label>
										<div class="col-sm-8">
											<input id="school" name="school" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">学历：</label>
										<div class="col-sm-8">
											<input id="educate" name="educate" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">专业：</label>
										<div class="col-sm-8">
											<input id="major" name="major" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">名族：</label>
										<div class="col-sm-8">
											<input id="nation" name="nation" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">身份证地址：</label>
										<div class="col-sm-8">
											<input id="idCardAddr" name="idCardAddr" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">联系地址：</label>
										<div class="col-sm-8">
											<input id="contactAddr" name="contactAddr" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">紧急联系人：</label>
										<div class="col-sm-8">
											<input id="urgentName" name="urgentName" class="form-control" type="text">
										</div>
									</div> 
																
																															
															 		<div class="form-group">	
										<label class="col-sm-3 control-label">紧急联系电话：</label>
										<div class="col-sm-8">
											<input id="urgentPhone" name="urgentPhone" class="form-control" type="text">
										</div>
									</div> 
																
																						<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/oa/emp/add.js">
	</script>
</body>
</html>
