<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${emp.id}"  type="hidden">
																																															 		<div class="form-group">	
										<label class="col-sm-3 control-label">用户id：</label>
										<div class="col-sm-8">
											<input id="userId" name="userId" th:value="${emp.userId}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">员工编号：</label>
										<div class="col-sm-8">
											<input id="no" name="no" th:value="${emp.no}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">名字：</label>
										<div class="col-sm-8">
											<input id="name" name="name" th:value="${emp.name}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">身份证：</label>
										<div class="col-sm-8">
											<input id="idCard" name="idCard" th:value="${emp.idCard}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">部门id：</label>
										<div class="col-sm-8">
											<input id="deptId" name="deptId" th:value="${emp.deptId}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">部门：</label>
										<div class="col-sm-8">
											<input id="deptName" name="deptName" th:value="${emp.deptName}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">年假天数：</label>
										<div class="col-sm-8">
											<input id="yearRestNum" name="yearRestNum" th:value="${emp.yearRestNum}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">已休息年假天数：</label>
										<div class="col-sm-8">
											<input id="hasRestYearRestNum" name="hasRestYearRestNum" th:value="${emp.hasRestYearRestNum}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">工资卡：</label>
										<div class="col-sm-8">
											<input id="wageCard" name="wageCard" th:value="${emp.wageCard}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">福利卡：</label>
										<div class="col-sm-8">
											<input id="freecaCard" name="freecaCard" th:value="${emp.freecaCard}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">职务：</label>
										<div class="col-sm-8">
											<input id="post" name="post" th:value="${emp.post}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">员工状态(1在职，2:离职)：</label>
										<div class="col-sm-8">
											<input id="state" name="state" th:value="${emp.state}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">电话：</label>
										<div class="col-sm-8">
											<input id="phone" name="phone" th:value="${emp.phone}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">入职日期：</label>
										<div class="col-sm-8">
											<input id="inDate" name="inDate" th:value="${emp.inDate}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">转正日期：</label>
										<div class="col-sm-8">
											<input id="formalDate" name="formalDate" th:value="${emp.formalDate}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">工作时间：</label>
										<div class="col-sm-8">
											<input id="workDate" name="workDate" th:value="${emp.workDate}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">qq：</label>
										<div class="col-sm-8">
											<input id="qq" name="qq" th:value="${emp.qq}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">性别：</label>
										<div class="col-sm-8">
											<input id="sex" name="sex" th:value="${emp.sex}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">生日：</label>
										<div class="col-sm-8">
											<input id="birthdayDay" name="birthdayDay" th:value="${emp.birthdayDay}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">是否结婚：</label>
										<div class="col-sm-8">
											<input id="hasMarry" name="hasMarry" th:value="${emp.hasMarry}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">政治面貌：</label>
										<div class="col-sm-8">
											<input id="policeFace" name="policeFace" th:value="${emp.policeFace}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">户口性质：</label>
										<div class="col-sm-8">
											<input id="houseType" name="houseType" th:value="${emp.houseType}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">学校：</label>
										<div class="col-sm-8">
											<input id="school" name="school" th:value="${emp.school}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">学历：</label>
										<div class="col-sm-8">
											<input id="educate" name="educate" th:value="${emp.educate}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">专业：</label>
										<div class="col-sm-8">
											<input id="major" name="major" th:value="${emp.major}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">名族：</label>
										<div class="col-sm-8">
											<input id="nation" name="nation" th:value="${emp.nation}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">身份证地址：</label>
										<div class="col-sm-8">
											<input id="idCardAddr" name="idCardAddr" th:value="${emp.idCardAddr}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">联系地址：</label>
										<div class="col-sm-8">
											<input id="contactAddr" name="contactAddr" th:value="${emp.contactAddr}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">紧急联系人：</label>
										<div class="col-sm-8">
											<input id="urgentName" name="urgentName" th:value="${emp.urgentName}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">紧急联系电话：</label>
										<div class="col-sm-8">
											<input id="urgentPhone" name="urgentPhone" th:value="${emp.urgentPhone}" class="form-control" type="text">
										</div>
									</div>
																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">：</label>
										<div class="col-sm-8">
											<input id="orderNum" name="orderNum" th:value="${emp.orderNum}" class="form-control" type="text">
										</div>
									</div>
																	
																																								 		<div class="form-group">	
										<label class="col-sm-3 control-label">：</label>
										<div class="col-sm-8">
											<input id="remark" name="remark" th:value="${emp.remark}" class="form-control" type="text">
										</div>
									</div>
																	
																																																	
																																																	
																						<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/oa/emp/addOrUpdate.js">
	</script>
</body>
</html>
