<!DOCTYPE html>
<html lang="en">
<head th:include="oa/bigData/include :: bigdataHeader"></head>

<body style="" class="body">
	<div class="contain-box">
		<table class="base-table">
			<tr>
				<td style="width: 18%; vertical-align: bottom; height: 40px">
					<!-- <h5 class="bar-title">项目及资金统计</h5> -->
					<p class="blue-green">
						欢迎登录，今天是<span th:text="${curDateAndDay}"></span>
					</p>
				</td>
				<td class="topCenterBg" align="center"
					style="width: 65%; vertical-align: middle;"><span>数据统计</span>
				</td>
				<td style="width: 18%; vertical-align: bottom; height: 40px">
					<!-- <h5 class="bar-title">项目及资金统计</h5> -->
					<p class="blue-green">
						<!-- 欢迎登录，今天是<span th:text="${curDateAndDay}"></span> -->
					</p>
				</td>
			</tr>
		</table>
	</div>
	<div class="img-border" style="">
		 
	</div>


</body>
<script src="/js/appjs/oa/bigData/bigData.js"></script>
</html>
